body{
    background-color: black;
    color: white;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px #273549;
    border-radius: 8px;
    margin: 90px auto;
    padding: 10px;
    background-color: #273549;
}
span{
    color: #10B981;
}
.copy-password input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px;
    height: 20px;
    border-radius: 10px;
    flex: 1;
    font-size: 18px;
 }
.copy-password button{
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #ebfffc;
    border-radius: 2px;
    width: 42px;
    height: 27px;
    margin-left: -50px;
    border-radius: 5px;
    margin-top: 2px;
 }
 .copy-password button img{
    width: 18px;
 }
 .copy-password button:hover{
    background-color: #273549;
 }
 button{
    background-color: #10B981;
    font-size: 18px;
    margin: 10px 0;
    padding: 6px;
    border: solid 1px #388D34;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}